* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: darkblue;
    background-size: cover;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 1rem;
}

.text-center {
    text-align: center;
}

.app-header {
    padding: .5rem 1.25rem;
    margin-bottom: .5rem;
    color: white;
    font-size: 2rem;
}

.city-search h2 {
    padding: .5rem;
    color: white;
}

.search-form form {
    padding: .5rem;
    display: flex;
    justify-content: center;
    /* flex-direction: column;
    align-items: center; */
}

#search-input, #search-btn {
    margin: 1rem;
    padding: .5rem;
    border-radius: .5rem;
    /* min-width: 50%; */
    appearance: none;
    background: none;
    border: none;
    outline: none;
    background-color: white;
    color: darkblue;
    font-weight: 500;
    font-size: 1rem;
}

#search-input {
    width: 50%;
}

#search-btn {
    /* border: 1px solid rgb(237, 237, 237); */
    background-color: grey;
    color: white;
    width: 25%;
}

#search-btn:hover {
    border: 1px solid darkblue;
    background-color: orange;
    color: darkblue;
}

.forecast {
    padding: .5rem;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 1rem;
    margin-bottom: 2rem;
}
.forecast-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1rem 1rem;
    /* border: 1px solid limegreen; */
}
.card {
    padding: 1rem;
    background-color: white;
    flex-grow: 1;
    height: 100%;
}

.current-forecast {
    background-color: rgb(174, 174, 174);
}

.current-forecast .high {
    color: white;
}

.week-day {
    color: darkblue;
    font-weight: 600;
    font-size: 1.5rem;
}

.current-temp {
    margin: 1rem;
    padding: 1rem;
    background-color: white;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.current-temp p {
    color: rgb(174, 174, 174);
    font-style: italic;
}
.current-temp h3 {
    font-weight: 700;
    font-size: 3rem;
    color: darkblue;
    margin-top: .5rem;
}

.high-low {
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 1.25rem;
}
.low {
    margin-right: .5rem;
    color: darkblue;

}
.high {
    margin-left: .5rem;
    color: darkgrey;
}
